<!DOCTYPE html>
<html>
<div class="container">
  <div class="jumbotron">
    <p class="lead">
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


</p>
</div>
</div>
</html>
