<% if false %>
<!DOCTYPE html>
<html>
<div class="container">
  <div class="jumbotron">
    <p class="lead">

    <h1>New Order</h1>

    <%= render 'form' %>

    <%= link_to 'Back', orders_path %>
    </p>
  </div>
</div>
</html>
<% end %>

<%= render 'sidebar' %>
<%= render 'form', name: "Create New Order", action: "new", readonly: false %>