<!DOCTYPE html>
<html>
<div class="container">
  <br>
  <br>
  <div class="row text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>Rental Module</h1>
      <br>
      <br>

      <div class="banner">
        <div class="btn-block">
          <div class="col-lg-6">          <%= link_to "Rental DVDs", orders_path, :class => "btn btn-lg btn-primary" %>


          </div>
          <div class="col-lg-6">
            <a class="btn btn-lg btn-primary">Return DVDs</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</html>
